@import url("http://fonts.cdnfonts.com/css/maison-neue");

.App {
  font-family: "Maison Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 120px;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  img {
    display: flex;
    height: 40px;
  }
  .header-right {
    display: flex;
    button {
      height: 30px;
      background-color: white;
      border: 1px solid #2cb1ba;
      color: #2cb1ba;
      border-radius: 2px;
      margin-right: 24px;
      padding: 0 8px 0 8px;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    button:last-child {
      margin-right: 0;
      height: 30px;
      background-color: #2cb1ba;
      border: none;
      color: white;
      border-radius: 2px;
    }
  }

  .header-left {
    display: flex;

    .input-range {
      padding-left: 50px;
    }

    .bloc-image {
      display: flex;
      align-items: center;
    }

    /* -----------slider----------- */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      input {
        display: flex;
        margin-bottom: 16px;
      }
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    /*-----------End of Sldier-----------*/

    .reasearch {
      display: flex;
      flex-direction: column;
      padding-left: 128px;
      width: 500px;
      .switch-range {
        display: flex;
      }
    }
  }
}

.hero-banner {
  display: flex;
  background-color: gray;
  height: 359px;
  width: 100vw;
  img {
    display: flex;
    object-fit: cover;
    width: 100vw;
    object-position: 0 -150px;
  }
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  a {
    text-decoration: none;
    color: inherit;
  }

  .offer-card {
    display: flex;
    // background-color: pink;
    width: 240px;
    height: 465px;
    flex-direction: column;
    overflow: hidden;
    align-items: baseline;
    margin: 12px 12px 12px 0px;

    .avatar-and-username {
      display: flex;
      align-items: center;
      margin: 4px 0px 4px 8px;
      .avatar {
        width: 28px;
        height: 28px;
        border-radius: 100%;
      }
    }

    img {
      display: flex;
      width: 320px;
      height: 360px;
      align-self: center;
      object-fit: cover;
      object-position: center;
    }

    .price {
      font-size: 14px;
      color: black;
      margin-top: 12px;
      margin-left: 8px;
    }
    .details {
      margin-top: 8px;
      margin-left: 8px;

      font-size: 12px;
      color: #131313;
    }
  }
}

.individual-offer {
  display: flex;
  justify-content: space-around;
  background-color: #ebedee;
  height: 100vh;
  padding-top: 100px;

  .offer-image {
    display: flex;
    img {
      height: 500px;
    }
  }

  .right-bloc {
    display: flex;
    background-color: white;
    height: 500px;
    flex-direction: column;
    width: 400px;
    padding: 30px;

    .price-individual {
      font-size: 24px;
    }
    .bloc-list {
      margin-top: 12px;
    }
    .details-list {
      display: grid;
      grid-template-columns: 1fr 2fr;
      .detail-titles-individual {
        color: #131313;
        font-size: 14px;
        margin-top: 4px;
      }
      .detail-individual {
        color: #131313;
        font-size: 14px;
        margin-top: 4px;
        margin-left: 22px;
      }
    }
    .description {
      color: #131313;
    }
  }
  hr {
    border-color: #efefef;
    margin: 22px 0 22px 0;
  }
  h1 {
    font-weight: 600;
    margin-bottom: 16px;
  }
}

.owner {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.avatar-individual img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 8px;
}

.signup-bloc,
.login-bloc {
  display: flex;
  margin-top: 22px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 22px;
  }

  input {
    font-size: 14px;
    color: #131313;
    border: none;
    border-bottom: 1px solid rgb(212, 116, 116);
    margin-bottom: 18px;
    :last-child {
      margin-bottom: 50px;
    }
  }
  button {
    display: flex;
    color: white;
    background-color: #2cb1ba;
    border: none;
    width: 170px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 16px;
  }
  a {
    font-size: 12px;
    color: #2cb1ba;
  }
}
