@import url("http://fonts.cdnfonts.com/css/maison-neue");

.App {
  font-family: "Maison Neue", sans-serif;
}

.header {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  img {
    display: flex;
    height: 40px;
  }
  .header-right {
    display: flex;
    justify-content: space-evenly;
    button {
      height: 30px;
      background-color: white;
      border: 1px solid #2cb1ba;
      color: #2cb1ba;
      border-radius: 2px;
      margin-right: 24px;
      padding: 0 8px 0 8px;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    button:last-child {
      margin-right: 0;
      height: 30px;
      background-color: #2cb1ba;
      border: none;
      color: white;
      border-radius: 2px;
    }
  }

  .header-left {
    display: flex;
    margin-right: 800px;
  }
}

.hero-banner {
  display: flex;
  background-color: gray;
  height: 359px;
  width: 100vw;
  img {
    display: flex;
    object-fit: cover;
    width: 100vw;
    object-position: 0 -150px;
  }
}

.offers-list {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  margin-top: 40px;
  a {
    text-decoration: none;
    color: inherit;
  }

  .offer-card {
    display: flex;
    // background-color: pink;
    width: 240px;
    height: 465px;
    flex-direction: column;
    overflow: hidden;
    align-items: baseline;
    margin: 12px 12px 12px 0px;

    .avatar-and-username {
      display: flex;
      align-items: center;
      margin: 4px 0px 4px 8px;
      .avatar {
        width: 28px;
        height: 28px;
        border-radius: 100%;
      }
    }

    img {
      display: flex;
      width: 320px;
      height: 360px;
      align-self: center;
      object-fit: cover;
      object-position: center;
    }

    .price {
      font-size: 14px;
      color: black;
      margin-top: 12px;
      margin-left: 8px;
    }
    .details {
      margin-top: 8px;
      margin-left: 8px;

      font-size: 12px;
      color: #999999;
    }
  }
}

.individual-offer {
  display: flex;
  justify-content: space-around;
  background-color: #ebedee;
  height: 100vh;
  padding-top: 100px;

  .offer-image {
    display: flex;
    img {
      height: 500px;
    }
  }

  .right-bloc {
    display: flex;
    background-color: white;
    height: 500px;
    flex-direction: column;
    width: 400px;
    padding: 30px;

    .price-individual {
      font-size: 24px;
    }
    .bloc-list {
      margin-top: 12px;
    }
    .details-list {
      display: grid;
      grid-template-columns: 1fr 2fr;
      .detail-titles-individual {
        color: #999999;
        font-size: 14px;
        margin-top: 4px;
      }
      .detail-individual {
        color: #666666;
        font-size: 14px;
        margin-top: 4px;
        margin-left: 22px;
      }
    }
    .description {
      color: #666666;
    }
  }
  hr {
    border-color: #efefef;
    margin: 22px 0 22px 0;
  }
  h1 {
    font-weight: 600;
    margin-bottom: 16px;
  }
}

.owner {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.avatar-individual img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 8px;
}

.signup-bloc,
.login-bloc {
  display: flex;
  margin-top: 22px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 22px;
  }

  input {
    font-size: 14px;
    color: #cecece;
    border: none;
    border-bottom: 1px solid rgb(212, 116, 116);
    margin-bottom: 18px;
    :last-child {
      margin-bottom: 50px;
    }
  }
  button {
    display: flex;
    color: white;
    background-color: #2cb1ba;
    border: none;
    width: 170px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 16px;
  }
  a {
    font-size: 12px;
    color: #2cb1ba;
  }
}
